<h2 style="color: red">{{ isEdit ? "Editar" : "Nuevo" }}</h2>
<form (ngSubmit)="onSubmit()">
  <!-- Input corregido -->
  <input type="text" [(ngModel)]="product.name" name="name" required />
  <!-- ¡Cierra con "/>" -->

  <textarea [(ngModel)]="product.description" name="description"> </textarea>

  <!-- Otro input corregido -->
  <input
    type="number"
    [(ngModel)]="product.price"
    name="price"
    step="0.01"
    required
  />
  <!-- ¡Cierra con "/>" -->

  <button type="submit">
    {{ isEdit ? "Actualizar" : "Crear" }}
  </button>
</form>
