<div *ngIf="products.length > 0">
  <!-- Mensaje si hay datos -->
  <table class="table">
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | currency }}</td>
      <td>
        <button routerLink="/edit/{{ product.id }}" class="btn btn-warning">
          Editar
        </button>
        <button (click)="deleteProduct(product.id!)" class="btn btn-danger">
          Eliminar
        </button>
      </td>
    </tr>
  </table>
  <a routerLink="/add" class="btn btn-success">Nuevo Producto</a>
</div>

<div *ngIf="products.length === 0">
  <!-- Mensaje si NO hay datos -->
  <p>No hay productos disponibles.</p>
  <a routerLink="/add" class="btn btn-success">Crear primer producto</a>
</div>
